<ion-content [fullscreen]="true">
  
	<ion-row class="logo">
	  <ion-col>	
		<ion-label>
		  Wander
		  <p>Joyas</p>		
		</ion-label>
	  </ion-col>
	</ion-row>
  
  </ion-content>
  
  <ion-footer>
	<ion-list lines="full">
	  <ion-list-header class="ion-margin">
		<ion-label>
		  Bienvenido
		</ion-label>
	  </ion-list-header>
  
	  <ion-item-group class="ion-margin-horizontal">
		<form (ngSubmit)="login()" [formGroup]="credentials">
		  <div class="ion-margin-vertical">
			<ion-item>
			  <ion-label position="stacked">Coreo Electronico</ion-label>
			  <ion-input formControlName="email" type="email" placeholder="Correo Electronico">
				<ion-icon name="mail" slot="start" color="medium"></ion-icon>
			  </ion-input>
			  <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"
				>Correo Invalido</ion-note>
			</ion-item>
			
		  </div>
  
		  <div class="ion-margin-vertical">
			<ion-item>
			  <ion-label position="stacked">Contraseña</ion-label>
			  <ion-input formControlName="password" type="password" placeholder="Contraseña">
				<ion-icon name="key" color="medium" slot="start"></ion-icon>
			  </ion-input>
			  <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"
				>Contraseña debe ser mayor a seis caracteres</ion-note>
			</ion-item>			
		  </div>
  
		  <p class="ion-text-right"><ion-text color="warning" (click)="register()">Crear Cuenta</ion-text></p>
  
		  <ion-button 
			size="large" 
			expand="block" 
			shape="round" 
			color="warning" 
			type="submit" [disabled]="!credentials.valid">
			<ion-text >Ingresar</ion-text>
		  </ion-button>
		</form>
	  </ion-item-group> 
	
  	  <p class="ion-text-center">
		<ion-icon name="logo-google" color="danger"></ion-icon>
	
	  </p>
  
	</ion-list>
  </ion-footer>